
html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
/* Header */

header{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 20px 4% !important;
    background-color: #ffffff !important;
    border-bottom: 1px solid #f0f0f0;
}

/* Logo Section */
.logo-container {
    display: flex !important;
    width: auto !important;
    object-fit: contain !important;
    align-items: center;
    gap: 25px;
}

.logo{
    height: 100px !important;
    width: auto !important;
    object-fit: contain !important;
}

.logo-text h1 {
    font-size: 34px !important;
    font-weight: 800 !important;
    color: #0d2c54 !important;
    margin: 0 !important;
    line-height: 1.2 !important;
}

.logo-text p {
    font-size: 17px !important;
    font-weight: 600 !important;
    color: #1a4f8a !important;
    margin: 6px 0 0 0 !important;
    letter-spacing: 0.3px !important;
}


nav a{
    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 8px 16px !important;
}

.btn{
   display: inline-block;
   background: #ff7a00;
   color: white;
   padding: 12px 25px;
   text-decoration: none;
   border-radius: 5px;
   font-weight: bold;
}

.btn:hover{
    background: #e66a00;
}

/* Hero section */

.hero{
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    background: #021b44;
    gap: 50px;
}

.hero-text{
    width: 50%;
    color: white;
}
.hero h1{
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}

.hero p{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.hero button{
    padding: 15px 35px;
    border: none;
    background: #f97316;
    color: #f5f5f5;
    cursor: pointer;
}

.hero-image img{
    width: 50%;
    height: 100%;
    max-height: 70vh;
    object-fit: cover;
    border-radius: 8px;
}

/* services section */

.services{
    padding: 80px 8%;
    background: #f5f5f5;
}

.Services h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.services-container{
    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.service-box{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transform: 0.3s;
}

.service-box:hover{
    transform: translateY(-10px);
}

.service-box h3{
    margin-bottom: 15px;
    color: #021b44;
}

/* service-box img */

.service-box img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 10px;
    
}

.service-box{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    transition: .3s;
}

.service-box:hover{
    transform: translateY(-10px);
}


/* why us section */

.why-us{
    background: #021b44;
    padding: 80px 8%;
    text-align: center;
}

.why-us h2{
    color: #fff;
    margin-bottom: 40px;
    font-size: 40px;
}

.why-container{
    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
}

.why-box{
    background: #0a2d68;
    padding: 30px;
    border-radius: 10px;
}

.why-box h3{
    color: #f9b000;
    margin-bottom: 10px;
}

.why-box p{
    color: white;
}

.why-box i{
    font-size: 4rem;
    color: #f9b000;
    margin-bottom: 15px;
}

/* Service Pricing */

.pricing{
    padding: 80px 8%;
    background: #f5f5f5;
}

.pricing h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.pricing-container{
    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.pricing-box{
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.price{
    font-size: 30px;
    color: #f9b000;
    font-weight: bold;
    margin: 15px 0;
}

.list{
    font-size: 15px;
    color: #0a2d68;
    font-weight: bold;
    margin: 12px 0;
}

/*  Booking Section */
.booking{
    padding: 80px 8%;
    background: #021b44;
}

.booking-content{
    max-width: 700px;
    margin:auto;
}

.booking h2{
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 15px;
}

.booking p{
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.booking form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.booking input,
.booking select,
.booking textarea{
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.booking textarea{
    height: 150px;
    resize: none;
}

.booking button{
    background: #f9b000;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

/* Customer Reviews Section */

.testimonials{
    padding: 80px 8%;
    background: #f5f5f5;
}

.testimonials h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.testimonial-container{
    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}

.testimonial-box{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.testimonial-box p{
    margin-bottom: 20px;
    line-height: 1.6;
}

.testimonial-box h3{
    color: #f9b000;
}

/* Information that customer need to know */

.stats{
    background: #021b44;
    color: white;
    padding: 60px 8%;
    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    text-align: center;
}

.stat-box h2{
    color: #f9b000;
    font-size: 40px;
}

.stat-box p{
    color: #f9b000;
    font-size: 20px;
}


/* Footer Box */

.footer{
    background: #111;
    color: white;
    padding: 60px 8% 20px;

}

.footer-container{
    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
}

.footer-box h3{
    color: #f9b000;
    margin-bottom: 20px;
}

.footer-box a{
    display: block;
    color: white;
    margin-bottom: 10px;
}

.footer-box a:hover{
    color: #f9b000;
}

.copyright{
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

/* social-icons */

.social-icons{
    margin-top: 20px;
}

.social-icons a{
    margin-right: 15px;
    font-size: 22px;
    color: #f9b000;
}

/* Media arrengement */ 

@media (max-width: 768px){
    
    header{
        flex-direction: column;
        gap: 15px;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero{
        flex-direction: column;
        text-align: center;
        padding: 50px 5%;
    }

    .hero-text{
        width: 100%;
    }

    .hero-text h1{
        font-size: 40px;
    }

    .hero-image img{
        width: 100%;
        max-width: 400px;
    }

    .services,
    .pricing,
    .booking,
    .testimonials{
        padding: 60px 5%;
    }
}

/* Menu button */
#menu-btn{
    font-size: 2rem;
    cursor: pointer;
    display: none;

    position: absolute;
    right: 20px;
    top: 20px;
}

@media (max-width:768px){
    #menu-btn{
        display: block;
    }

    nav{
       display: none !important;
       position: absolute;
       top: 70px;
       right: 10px;
       background: #021b44;
       width: 200px;
       padding: 1rem;
       border-radius: 10px;
    }

    nav.active{
        display: flex !important;
        flex-direction: column;
    }


    nav a{
        color: white;
        margin: 10px;
        text-decoration: none;
    }
}



.fade-left{
    opacity: 0;
    transform: translateX(-100px);
    animation: slideLeght 1s ease forwards;
}

.fade-right{
    opacity: 0;
    transform: translateX(100px);
    animation: slideRight 1s ease forwards;

}

@keyframes slideLeft{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

/*  WHATSAPP BUTTON */
.whatsapp-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    z-index: 1000;
}


/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background: #f5f7fa;
    color: #333;
    line-height: 1.7;
}

/* NAVIGATION */
nav{
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 18px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover{
    color: #f97316;
}

/* GENERAL CONTAINER */
.container{
    max-width: 1100px;
    margin: 50px auto;
    padding: 30px;
}

/* HEADINGS */
h1{
    font-size: 3rem;
    text-align: center;
    color: #0f172a;
    margin-bottom: 20px;
}

h2{
    color: #0f172a;
    margin-bottom: 15px;
}

h3{
    color: #f97316;
    margin-bottom: 10px;
}

/* PARAGRAPHS */
p{
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

/* BUTTONS */
.btn,
a[href*="wa.me"]{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: 600;
    transition: .3s;
}

.btn:hover,
a[href*="wa.me"]:hover{
    transform: translateY(-3px);
}

/* SERVICE CARDS */
.services-container,
.service-box{
    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
    gap: 25px;
}

.service-card,
.card{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
    transition: .3s;
}

.service-card:hover,
.card:hover{
    transform: translateY(-8px);
}

.card i,
.service-card i{
    font-size: 45px;
    color: #f97316;
    margin-bottom: 15px;
}

/* CONTACT SECTION */
.contact-details{
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,.08);
    margin-top: 20px;
}

/* ABOUT SECTION */
.about-box{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0,.08);

}

/* FOOTER */
footer{
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

/* MOBILE */
@media(max-width:768px){
    
    nav{
        flex-wrap: wrap;
        gap: 15px;
    }

    h1{
        font-size: 2.2rem;
    }

    .container{
        padding: 20px;
    }
}

/* Slideshow*/
.slideshow {
    position: relative;
    width: 75%;
    height: 850px;
    overflow: hidden;
    border-radius: 15px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

@media (max-width:768px) {
    .slideshow{
        width: 100% !important;
        height: 65vh !important;
        margin: 0 auto !important;
    }

    .slide{
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
    }
}